/* Web Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

        body {
            margin: 0;
            padding: 0;
        }        

        #container {
            width: 900px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

        header {
            /* background-color: silver; */
            height: 200px;
        }

        header img {
            width: 100%;
            display: block;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding: 10px;
            justify-content: center;
        }
        
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        aside {
            width: 20%;
            padding: 10px;
            box-sizing: border-box;
        }

        section {
            width: 60%;
            padding: 10px;
            box-sizing: border-box;
            
        }

        .right_side {
            background-color:cornsilk;
        }

        /* float - 신문이나 잡지 레이아웃처럼 이미지를 텍스트 본문 한 쪽에 띄어주고 
                   그 주변에 텍스트가 자연스럽게 흐르도록 */

        footer {
            padding: 20px;
            text-align: center;
        }

        /* clear: both; - float 효과를 상쇄 */

        .button {
            font-family: "Nanum Gothic", sans-serif;
            padding: 10px 20px;
            border: 1px solid lemonchiffon;
            background-color: lemonchiffon;
            text-decoration: none;
            text-align: center;
        }

        .button:hover {
            background-color: lightskyblue;
            color: lemonchiffon;
        }

        .button:active {
            /* background-color: lightskyblue; */
            color: black;
            position: relative;
            top: 3px;
        }