/* Corss Browsing */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ccc;
}

.form {
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 8px #333;
}

.form h2 {
    font-size: 20px;
    color: #1a1a1a;
    margin-bottom: 20px;
}

.form_group {
    margin-bottom: 20px;
}

/* placeholder의 텍스트 색상 변경 */
.form_group input::placeholder {
    color: pink;
}

.form_group input {
    width: 150px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid transparent;
    outline: none; /* focus 상태일 때 테두리 설정 */
    border-radius: 30px;
}

.form_group input:focus {
    background-color: lightcyan;
    border-color: aquamarine;
    box-shadow: 0 0 5px aqua;
}

button {
    background-color: lightgreen;
    padding: 10px 20px;
    width: 150px;
    color: white;
    border: 1px solid transparent;
}

button:hover {
    background-color: green;
    box-shadow: 0 0 3px lightgreen;
}